@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1>UČILIŠTE PROFOKUS</h1>
    <h2>E-Dnevnik</h2>    
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered" style="width:100%;">
        <tr><td>korisničko ime: </td><td><input id="userName" type="text" /></td></tr>
        <tr><td>lozinka: </td><td><input id="Password1" type="password" /></td></tr>        
        </table>
    </div>
    
</div>